/*  Fonts
    -----
    font-family: 'Lato', serif;
    font-family: 'Ubuntu', sans-serif;
 */
 
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', serif;
    background-color: rgba(218, 214, 214, 0.363);

}


/* =================
    Typography
    ================= */
 
.features-title {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

.features-body, 
.pricing-body {
    line-height: 1.5;
    font-size: 1em;
}

.pricing-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
    padding: 1em 2em;
    font-size: 1.5em;
    background-color: #ddd;
    margin: 0;
}

.pricing {
    display: flex;
    flex-direction: column;
    width: 70%;
    
    margin: 0 auto;
}

.pricing-link{
    text-decoration: none;
    color: black;
}

.pricing-price {
    font-weight: 700;
    font-size: 1.5rem;
    
}

.container-pricing .btn {
    width: 50%;
}

footer {
    background-color: #ddd;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0, 0.75)

    

}

.footer-list-item {
    text-transform: capitalize;
    font-size: 1.25rem;
    color: black;
    

}

.footer-body {
    font-family: Lato;
    font-size: 1.25rem;
    text-align: right;
    margin-top: 0;
}

@media (min-width: 650px){
    .pricing {
        flex-direction: row;
    }
}


/* =================
    Layout
    ================= */
 
    header {
        
        padding: 2em 0;
    }
   
    #header-img {
        width: 100%
    }
   
    .logo {
        width: 50%;
        margin: 0 auto;
        min-width: 400px;
    }

    /* .container {
        margin: 0 auto;
    } */

    .features {
        width: 70%;
        max-width: 900px;
        margin: 0 auto;
       
    }
    
    .features-body {
        margin: 0;
    }

    .fas {
        display: inline-block;
        text-rendering: auto;
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }

    .features-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        order: -1;
        color: darkorange;
        max-width: 200px;
    }


 .container-features {
    display: flex;
    padding: 3em 0;
 }


    .container-features-text {
        padding: 0 1em;
    }

    .container-pricing {
        border: 1px solid #000;
        border-radius: 3px;
        width: 70%;
        min-width: 300px;
        text-align: center;
        margin: 1em;
    }

    .video {
        margin: 3em 0;
        display: flex;
        justify-content: center;
    }

/* =================
    Nav
    ================= */
 
 .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    
   
 }

 .nav-list-item {
    margin: 0 1em;
    min-width: 65px;
   
 }

 .nav-link {
    text-decoration: none;
    color: #707070f3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    
    /* font-size: 1.25rem; */
 }

 .nav-link:hover, .nav-link:focus {
    color: #1792d2;
 }

 #nav-bar {
     width: 50%;
     min-width: 400px;
     margin: 0 auto;
     
 }

 

 

/* =================
    Form
    ================= */


.form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: center;

}

#form {
    width: 100%;
    max-width: 400px;
}

#email,
.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
    font-size: inherit;
    width: 100%;

}


#email {
    
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 3px;
    
}

#submit {
    display: inline-block;
}

.btn{
  background-color: rgb(240, 226, 101); /* Green */
  border: none;
  color: black;
  padding: 1em 2em;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  box-sizing: border-box;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(104, 105, 5);
}




@media (min-width: 650px) {
    header {
        display: flex;
        justify-content: center;
        padding: 1em 0;

        /* flex-direction: column; */
    }
    .nav-list {
        justify-content: flex-end;
    }

    .nav-list-item {
        margin: 0 0 0 2em;
    }

    .logo {
        width: 40%;
    }
}
